# Visual Studio 2019/2022
.vs/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.suo
*.opensdf
*.sdf
*.xcworkspace
*.xcode
*.bed

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# Unreal Engine
Binaries/
Intermediate/
Saved/
DerivedDataCache/
Build/
.idea/
*.xcodeproj
*.xcworkspace
